SECRET_KEY=your-secret-key-here-change-this-in-production
ALGORITHM=HS256
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/wiseman #local sqllite
ENVIRONMENT=development
FRONTEND_URL=http://localhost:3000,https://www.wisemenresearch.org,https://wisemenresearch.org
